@import "tailwindcss";

.button {
    @apply transition-all ease-in-out duration-300 p-2 flex justify-center items-center gap-1 flex-row hover:animate-pulse;
}

.img-icon {
    @apply w-6 h-auto;
}

.img-icon-cards {
    @apply w-20 h-auto p-5 invert rounded-4xl;
    background-color: rgba(255, 255, 255, 0.5);
}

.paragraph {
    @apply text-base capitalize text-stone-200;
}

.buttonAccount {
    @apply transition-all 
    ease-in-out duration-500 
    flex justify-center 
    items-center w-fit 
    gap-2 p-4 
    bg-blue-50 
    text-blue-400 
    rounded-full 
    text-base
    hover:bg-blue-300
    hover:animate-pulse;
}

.title {
    @apply p-5 text-blue-50 bg-blue-400;
}

.buttonService:hover img {
    @apply animate-bounce;
}

.ButtonAccount:hover p {
    @apply text-blue-50;
}